/*CSS FILE*/

/*Amy Littlefield-Bousamra
Full Sail University
Instructor: Sean Bernath
Week1 Assignment Grocery List*/


body {
    background-color: #fdfdfd;
    background-repeat: repeat-x;
    max-width: 960px;
    margin: 36px auto;
}



#full-screen-background-image {
    z-index: -2000;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}


header::after,
section::after,
footer::after {
    content: "";
    display: inline;
    clear: both;
}

form{
    clear:left;
}

#chef {
    float: left;
    margin-top:-40px;

}

#form_container{
    background-color: #47AFAF;
}

#recipeBox{
    float:left;
    width:100%;
    background-color:  #47AFAF;
    margin-top: 0;
    z-index: -1000;
}


#delete{
    float:right;
    font-size: 14px;
    padding: 4px 8px;
    margin-top:90px;
    margin-right: 10px;
    margin-bottom: 2px;

}

input{
    width:500px; /*use width so design the same in Firefox*/
    padding: 10px;
    background: #fdfdfd;
    border: solid 1px #B94629;
    color:#000000;
    font-size:14px;
    margin-left:200px;

}

textarea{
    margin-left:200px;
    width:520px;
    height: 250px;
    border: solid 1px #B94629;
}

label{
margin-left: 200px;
font-size:20px;
font-family: 'Arvo', serif;
color:#000000;
}


h2{
color: #B94629;
padding-top:20px;
margin-top: 40px;
margin-left:340px;
font-family: 'Arvo', serif;
font-size: 30px;
}



a{
font-family: 'Arvo', serif;
font-size:16px;
color: #000000;
}

.container {
    width: 100%; 
    margin: 0 auto;
    overflow: hidden;
}


li {
    list-style-type: none;
    Font-size: 18px;
    color:#000000;
    font-family: 'Arvo', serif;
}

ul li{
    background-color: #E3DEC1;
    width:876px;
    padding:6px 6px 6px 6px;
}


h3{ float:right;
    width:575px;
    margin-right:40px;
    color:#fdfdfd;
    font-size:35px;
    font-family: 'Arvo', serif;
    z-index: 1;
}

#header{
    z-index: -99;
    background-color: #000000;
    height:130px;
    display:block;
}

#images{
    float:left;
    margin: 10px 10px 5px 10px;
}



 #box{
     width:300px;
     display: inline;

 }


h1{
    color: #000000;
    font-family: 'Arvo', serif;

}


button{
    font-family: 'Arvo', serif;
    color: #FDFDFD !important;
    font-size: 18px;
    padding: 10px 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #fdfdfd;
    background: #B94629;
    margin-right: 60px;
    margin-bottom: 20px;
    z-index: 999;	
}


button:hover {
    color: #000000 !important;
    background: #E3DEC1;
    z-index: 1010;
    border: 2px solid #B94629;
}

#addbtn{
    margin-top: 16px;
    margin-left: 84px;
}

/*
media queries...................................................................
*/

/* tablet portrait size to standard 960 (devices and browsers)*/
/*@media screen and (min-width: 768px) and (max-width: 959px) {



}

/* mobile landscape size to tablet portrait (devices and browsers)*/
/*@media only screen and (min-width: 480px) and (max-width: 767px) {



}

/* mobile portrait size to mobile landscape size (devices and browsers)*/
/*@media only screen and (max-width: 479px) {


  
}*/

